<div class="formularioRegistro">
  <h2>Crear persona</h2>
    <form [formGroup]="personaForm" (ngSubmit)="guardar()">
      <div class="form-group">
        <label style="display: block;">nombre</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
      </div>
  
      <div class="form-group">
        <label style="display: block;">apellido</label>
        <input type="text" formControlName="apellido" class="form-control"  placeholder="apellido">
      </div>
      <div class="form-group">
        <label style="display: block;">edad</label>
        <input type="number" formControlName="edad" class="form-control"  placeholder="edad">
      </div>
      <div class="form-group">
        <label style="display: block;">pais</label>
        <select name="pais" id="pais" formControlName="pais" class="form-control" (change)="cargarEstadosPorPaisesId($event)">
        <option [value]="item.id" *ngFor="let item of paises">{{item.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label style="display: block;">estado o region</label>
        <select name="estado" id="estado" formControlName="estado" class="form-control">
        <option value="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
        </select>
      </div>
      
  
      <button type="submit" class="btn btn-primary">Guardar</button>
  
    </form>
  </div>
  
  <router-outlet />